.container .logo {
    font-size: 40px;
    font-weight: bold;
}

.container .menu {
    padding-left: 90px;
}

.container ul li ul .dropdown-item {
    color: white;
}

.container ul li ul .dropdown-item:hover {
    color: black;
}

                    /* === BAGIAN UTAMA === */
.container .row .main {
    margin-top: 100px;
}

.main h1 {
    font-size: 26px;
    color: rgb(1, 85, 1)
}

.main section header h2 a {
    text-decoration: none;
    color: black;
    font-size: 22px;
}

.main section header h2 a:hover {
    color: green;
}

.date {
    font-size: 11px;
    color: gray;
}

.date a {
    text-decoration: none;
    color: green;
}

.date a:hover {
    color: lightgreen;
}

article .isi_artikel p {
    text-align: justify;
}

p a {
    text-decoration: none;
    color: blue;
}

p a:hover {
    color: rgb(1, 167, 1);
}

article .isi_artikel figure {
    margin-top: 5px;
    margin-right: 10px;
}

.isi_artikel img {
    width: 300px;
    opacity: 1;
    transition: 0.5s;
  }

.isi_artikel img:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  article .isi_artikel figcaption {
    font-size: 11px;
  }

  article .isi_artikel figcaption a {
    text-decoration: none;
  }

  .row .card {
    margin-bottom: 15px;
  }

  .row .card img {
    height: 200px;
    opacity: 1;
    transition: 0.5s;
  }

  .row .card img:hover {
    opacity: 0.7;
    cursor: pointer;
  }

                     /* === BAGIAN SIDEBAR === */
.container .row aside {
    margin-top: 110px;
}
aside h1 {
    text-align: center;
    font-size: 26px;
    color: rgb(1, 85, 1)
}

aside .isi_sidebar section h2 {
    text-align: center;
    font-size: 22px;
}

aside .isi_sidebar section h3 {
    font-size: 18px;
}

aside .isi_sidebar section h2 a {
    text-decoration: none;
    color: green;
}

aside .isi_sidebar section h2 a:hover {
    color: lightgreen;
}

aside .isi_sidebar section h3 a {
    text-decoration: none;
    color: black;
}

aside .isi_sidebar section h3 a:hover {
    color: green;
}

aside .isi_sidebar section p {
    font-size: 11px;
    color: gray;
}

.container .row .hilang {
    display: none;
}

                    /* === BAGIAN FOOTER === */
.container .footer {
    background-color: aliceblue;
    border-radius: 20px 20px 0px 0px;
    border-top: 3px solid white;
}

.container .footer h3 {
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

.container .footer h3 a, .footer p a {
    text-decoration: none;
    color: green;
}

.container .footer h3 a:hover, p a:hover {
    color: black;
}

footer {
    padding: 10px 0;
}


                    /* === BAGIAN RESPONSIVE === */
/* Ukurang Tablet/Lanscape */
@media screen and (max-width: 768px) {
    .container .menu {
        padding-left: 0;
    }

    .container .row aside {
        margin-top: 0;
    }

    .container .main figure {
        width: 100%;
        margin: 0;
    }

    .container .main img {
        width: 100%;
    }

    .container .row .hilang {
        display: block;
    }

    .hr {
        display: none;
    }

    footer {
        font-size: 12px;
    }
}

                    /* === Ukuran Mobile === */
@media only screen and (max-width: 480px) {
    .container .main figure {
        width: 100%;
        margin: 0;
    }

    .container .main img {
        width: 100%;
    }
}